.App {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
}

textarea{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
}

select{
  font-size: 16px;
  padding: 5px;
}

.output{
  margin-top: 1rem;
  padding:1rem;
  border-top: 1px solid #ccc
}
